<%= form_with(model: [@restaurant, @beverage]) do |f| %>

  <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= f.label :calories %>
    <%= f.number_field :calories %>
  </div>

  <div class="field">
    <%= f.label :alcoholic %>
    <%= f.check_box :alcoholic %>
  </div>

  <div class="field">
    <%= f.label :photo%>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>