<h1><%= @beverage.name %></h1>

<div>
  <strong>Descrição:</strong>
  <p><%= @beverage.description %></p>
</div>

<div>
  <strong>Tipo:</strong>
  <p><%= @beverage.alcoholic ? "Alcoólica" : "Não alcoólica" %></p>
</div>

<div>
  <strong>Calorias:</strong>
  <p><%= @beverage.calories.present? ? @beverage.calories : "Não especificado" %></p>
</div>

<div>
  <% if @beverage.active? %>
    <%= button_to "Desativar Bebida", inactive_restaurant_beverage_path(@restaurant, @beverage) %>
  <% else %>
    <%= button_to "Ativar Bebida", active_restaurant_beverage_path(@restaurant, @beverage) %>
  <% end %>
</div>

<div>
  <%= link_to "Cadastrar Embalagem", new_restaurant_beverage_serving_path(@restaurant, @beverage) %>
</div>

<% if @beverage.servings.empty? %>
  <p>Não esqueça de adicionar porções para este prato!</p>
<% else %>
  <% @beverage.servings.each do |serving| %>
    <%= serving.description %>
    <p>Preço Atual: <%= number_to_currency(serving.price_display) %></p> 
    <%= link_to "Atualizar Preço", edit_restaurant_beverage_serving_path(@restaurant, @beverage, serving) %>
    <p>Histórico de Preços:</p>
    <% serving.price_histories.each do |history| %>
      <p>Preço: <%= number_to_currency(history.price_display) %></p>
      <p>Data de Atualização: <%= history.changed_at.strftime("%d/%m/%Y") %></p>
    <% end  %>
  <% end  %>
<% end  %>





<%= link_to 'Editar Bebida', edit_restaurant_beverage_path(@restaurant, @beverage) %> |
<%= button_to 'Excluir Bebida', restaurant_beverage_path(@restaurant, @beverage), method: :delete %> |
<%= link_to 'Voltar para o Restaurante', restaurant_path(@restaurant) %>
