<div class="container mx-auto px-5 mt-10 max-w-4xl">
  <div class="flex flex-col lg:flex-row gap-8">
    <div class="bg-white shadow-md rounded-md p-6">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">
      Adicionar Itens para o Cardápio: <br> <%= @menu.name %>
    </h1>

    <%= form_with(model: [@restaurant, @menu, @menu_content], class: "space-y-6") do |f| %>

      <div class="flex flex-col">
        <%= f.label :menu_item_id, "Selecione um Item", class: "block text-gray-700 font-medium mb-2" %>
        <%= f.collection_select :menu_item_id, @restaurant.menu_items, :id, :name, 
          {}, 
          class: "w-full bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 py-2 px-3" %>
      </div>

      <div class="text-right">
        <%= f.submit "Adicionar Item", class: "py-2 px-4 bg-blue-600 text-white rounded shadow hover:bg-blue-700 focus:ring focus:ring-blue-500" %>
      </div>

    <% end %>
  </div>

  
  <div class="bg-gray-50 shadow-md rounded-md p-6 lg:w-1/3 hover:bg-gray-200 transition-colors">
    <%= link_to  restaurant_menu_path(@restaurant, @menu) do %> 
    <p class="text-xl font-semibold text-gray-700 mb-4"><%= @menu.name %></p>
    
    <div class="space-y-4">
      <% @menu.menu_items.each do |menu_item| %>
        <p><%= menu_item.name %></p>
        <% menu_item.servings.each do |serving| %>
          <p class="text-gray-600 text-sm px-2"><%= serving.description %></p>
        <% end %>
      <% end %>
    </div>   
    <% end %> 
  </div>
  

  </div>
  
</div>
