<h1>Cardápios:</h1>

<% unless user_signed_in? %>

  <h2>Entre para registrar pedidos</h2>
  <%= link_to 'Criar Cadastro', new_user_session_path %>

<% else %>
  <div>
    <% @menus.each do |menu| %>
      <div id="menu_<%= menu.id %>"> 
        
        <%= link_to menu.name, restaurant_menu_path(@restaurant, menu) %>

        <%= link_to 'Adicionar Itens', new_restaurant_menu_menu_content_path(@restaurant, menu) %>

      </div>
    <% end %>
  </div>


  <div>
    <%= link_to 'Adicionar Cardápio', new_restaurant_menu_path(@restaurant) %>
  </div>
  
<% end %> 


