<h1>Atualizar preço: <%= @menu_item.name %></h1>

<%= form_with(model: [@restaurant, @menu_item, @serving]) do |f| %>
  <div>
    <%= f.label :price, "Preço", required: true %>
    <%= f.number_field  :price %>
  </div>

  <div>
    <%= f.submit "Atualizar" %>
  </div>

<% end %>