<div class="container mx-auto px-5 mt-10">
  <h1 class="text-2xl font-bold text-gray-800 mb-6">
    Cadastrar porção para o prato: 
    <span class="text-blue-600"><%= @menu_item.name %></span>
  </h1>

  <div class="bg-white shadow-md rounded-md p-6">
    <%= form_with(model: [@restaurant, @menu_item, @serving], class: "space-y-6") do |f| %>

      <div>
        <%= f.label :description, "Descrição", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :description, 
          class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500",
          required: true %>
      </div>

      <div>
        <%= f.label :price, "Preço", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :price, 
          class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500",
          required: true,
          placeholder: "R$ 0,00",
          data: {
            controller: "currency-mask",
            action: "input->currency-mask#update blur->currency-mask#clean",
            currency_mask_target: "field"
          }
           %>
      </div>

      <div>
        <%= f.submit "Cadastrar", 
          class: "w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-500 transition-colors" %>
      </div>

    <% end %>
  </div>
</div>
