<h1>Cadastrar porção para o prato: <%= @menu_item.name %></h1>

<%= form_with(model: [@restaurant, @menu_item, @serving]) do |f| %>

  <div>
    <%= f.label :description, "Descrição", required: true %>
    <%= f.text_field  :description %>
  </div>

  <div>
    <%= f.label :price, "Preço", required: true %>
    <%= f.number_field  :price %>
  </div>

  <div>
    <%= f.submit "Cadastrar" %>
  </div>

<% end %>