<%= form_with(model: [@restaurant, @dish]) do |f| %>

  <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :description%>
    <%= f.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= f.label :calories %>
    <%= f.number_field :calories %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div>
    <%= f.label :markers, "Marcadores" %>
    <%= f.collection_check_boxes :marker_ids, Marker.all, :id, :name do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>