<h1><%= @dish.name %></h1>

<div>
  <strong>Descrição:</strong>
  <p><%= @dish.description %></p>
</div>

<div>
  <strong>Calorias:</strong>
  <p><%= @dish.calories.present? ? @dish.calories : "Não especificado" %></p>
</div>

<div>
  <% if @dish.active? %>
    <%= button_to "Desativar Prato", inactive_restaurant_dish_path(@restaurant, @dish) %>
  <% else %>
    <%= button_to "Ativar Prato", active_restaurant_dish_path(@restaurant, @dish) %>
  <% end %>
</div>

<div>
  <%= link_to "Cadastrar Porção", new_restaurant_dish_serving_path(@restaurant, @dish) %>
</div>

<% if @dish.servings.empty? %>
  <p>Não esqueça de adicionar porções para este prato!</p>
<% else %>
  <% @dish.servings.each do |serving| %>
    <%= serving.description %>
    <p>Preço Atual: <%= number_to_currency(serving.price_display) %></p> 
    <%= link_to "Atualizar Preço", edit_restaurant_dish_serving_path(@restaurant, @dish, serving) %>
    <p>Histórico de Preços:</p>
    <% serving.price_histories.each do |history| %>
      <p>Preço: <%= number_to_currency(history.price_display) %></p>
      <p>Data de Atualização: <%= history.changed_at.strftime("%d/%m/%Y") %></p>
    <% end  %>
  <% end  %>
<% end  %>


<%= link_to 'Editar Prato', edit_restaurant_dish_path(@restaurant, @dish) %> |
<%= button_to 'Excluir Prato', restaurant_dish_path(@restaurant, @dish), method: :delete %> |
<%= link_to 'Voltar para o Restaurante', restaurant_path(@restaurant) %>
