<h1><%= @restaurant.comercial_name %></h1>

<div>
  <div>
    <strong><%= Restaurant.human_attribute_name(:registered_name) %>:</strong>
    <p><%= @restaurant.registered_name %></p>
  </div>

  <div>
    <strong><%= Restaurant.human_attribute_name(:cnpj) %>:</strong>
    <p><%= @restaurant.cnpj %></p>
  </div>

  <div>
    <strong><%= Restaurant.human_attribute_name(:address) %>:</strong>
    <p><%= @restaurant.address %></p>
  </div>

  <div>
    <strong><%= Restaurant.human_attribute_name(:phone) %>:</strong>
    <p><%= @restaurant.phone %></p>
  </div>

  <div>
    <strong><%= Restaurant.human_attribute_name(:email) %>:</strong>
    <p><%= @restaurant.email %></p>
  </div>

  <div>
    <strong><%= Restaurant.human_attribute_name(:code) %>:</strong>
    <p><%= @restaurant.code %></p>
  </div>

  <%= link_to 'Editar Restaurante', edit_restaurant_path(@restaurant) %> 
  <%= button_to 'Deletar Restaurante', restaurant_path(@restaurant), method: :delete %> 

</div>

<hr>

<div>
  

  <%= link_to 'Adicionar um prato', new_restaurant_dish_path(@restaurant) %> 
  <%= link_to 'Adicionar uma bebida', new_restaurant_beverage_path(@restaurant) %> 
  

</div>

<hr>

<div>
  <h2>Marcadores de Pratos do Restaurante</h2>
  <div>
    <% @markers.each do |marker| %>
      <p><%= marker.name %></p>
    <% end %>
    
  </div>

  <%= link_to 'Adicionar um Marcador', new_restaurant_marker_path(@restaurant) %> 

</div>

<hr>

<div>
  <h2>Pratos</h2>
  <ul>
    <% @restaurant.dishes.each do |dish| %>
      <li><%= link_to dish.name, restaurant_dish_path(@restaurant, dish) %></li>
      <li><%= t(dish.status) %></li>
    <% end %>
  </ul>

  <h2>Bebidas</h2>
  <ul>
    <% @restaurant.beverages.each do |beverage| %>
      <li><%= link_to beverage.name, restaurant_beverage_path(@restaurant, beverage) %></li>
      <li><%= t(beverage.status) %></li>
    <% end %>
  </ul>

</div>

<hr>

<div>
  <h2 style=”color:blue”>Horário de Funcionamento</h2>
  <ul>
    <% @restaurant.operating_days.sort.each do |day| %>
      <li style="background-color: aqua; margin-bottom: 10px;">
        <%= link_to restaurant_operating_day_path(@restaurant, day) do %>
          <p><%= day.week_day %></p>
          <% if day.open %>
            <p><%= OperatingDay.human_attribute_name(:opening_time)  %>: <%= I18n.localize(day.opening_time) %></p>
            <p><%= OperatingDay.human_attribute_name(:closing_time)  %>: <%= day.closing_time.to_time %></p>
          <% else %>
            <p>Fechado</p>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if @restaurant.all_operating_days_added? %>
    <%= link_to 'Adicionar Horário de Funcionamento', new_restaurant_operating_day_path(@restaurant.id) %> 
  <% end %>
</div>







