<h1><%= @restaurant.comercial_name %></h1>

<div>
  <strong>Razão Social:</strong>
  <p><%= @restaurant.registered_name %></p>
</div>

<div>
  <strong>CNPJ:</strong>
  <p><%= @restaurant.cnpj %></p>
</div>

<div>
  <strong>Endereço:</strong>
  <p><%= @restaurant.address %></p>
</div>

<div>
  <strong>Telefone:</strong>
  <p><%= @restaurant.phone %></p>
</div>

<div>
  <strong>Email:</strong>
  <p><%= @restaurant.email %></p>
</div>

<div>
  <strong>Código do Restaurante:</strong>
  <p><%= @restaurant.code %></p>
</div>

<%= link_to 'Adicionar um prato', new_restaurant_dish_path(@restaurant) %> 
<%= link_to 'Adicionar uma bebida', new_restaurant_beverage_path(@restaurant) %> 

<h2>Pratos</h2>
<ul>
  <% @restaurant.dishes.each do |dish| %>
    <li><%= link_to dish.name, restaurant_dish_path(@restaurant, dish) %></li>
  <% end %>
</ul>

<h2>Bebidas</h2>
<ul>
  <% @restaurant.beverages.each do |beverage| %>
    <li><%= link_to beverage.name, restaurant_beverage_path(@restaurant, beverage) %></li>
  <% end %>
</ul>


