<h1><%= @restaurant.comercial_name %></h1>

<div>
  <strong>Razão Social:</strong>
  <p><%= @restaurant.registered_name %></p>
</div>

<div>
  <strong>CNPJ:</strong>
  <p><%= @restaurant.cnpj %></p>
</div>

<div>
  <strong>Endereço:</strong>
  <p><%= @restaurant.address %></p>
</div>

<div>
  <strong>Telefone:</strong>
  <p><%= @restaurant.phone %></p>
</div>

<div>
  <strong>Email:</strong>
  <p><%= @restaurant.email %></p>
</div>

<div>
  <strong>Código do Restaurante:</strong>
  <p><%= @restaurant.code %></p>
</div>

<%= link_to 'Adicionar um prato', new_menu_item_path %> 

