<h1>Adicionar Porções ao Pedido: <%= @order.code %></h1>

<%= form_with(model: [@restaurant, @order, @order_item]) do |f| %>

  <% @restaurant.menus.each do |menu| %>
    <p><%= menu.name %></p>

    <% menu.menu_items.each do |menu_item| %>

      <p><strong><%= menu_item.name %></strong></p>

      <% menu_item.servings.each do |serving| %>
        <div>
          <%= f.radio_button :serving_id, serving.id, id: "serving_#{serving.id}" %>
          <%= label_tag "serving_#{serving.id}", "#{serving.description}", class: "serving-label" %>
        </div>
      <% end %>

    <% end %>
  <% end %>

  <div>
    <%= f.label :note, "Adicionar Nota" %>
    <%= f.text_field :note %>
  </div>

  <%= f.submit "Adicionar ao Pedido" %>
<% end %>

<%= button_to "Fechar Pedido", close_order_restaurant_order_path(@restaurant, @order) %>