<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-800">
    <header class="bg-white shadow-md fixed top-0 left-0 w-full z-10">
      <nav class="container mx-auto px-5 py-4 flex justify-between items-center">
        <%= link_to root_path do %>
          <h1 class="text-2xl font-bold text-blue-600">PaLeva!</h1>
        <% end %>
        
        <div class="flex items-center gap-4">
          <% if user_signed_in? %>
            <div class="hidden sm:flex items-center gap-2">
              <%= form_with url: search_path, method: :get, html: { class: "flex items-center gap-2" } do |f| %>
                <%= f.label :query, 'Buscar Item' %>
                <%= f.text_field :query, placeholder: "Buscar pratos ou bebidas...", class: "border rounded-lg px-4 py-2 text-sm w-64" %>
                <%= f.submit "Buscar", class: "bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-500" %>
              <% end %>
            </div>
            <% if current_user.restaurant.present? %>
              <%= link_to 'Funcionários', restaurant_employees_path(current_user.restaurant.id), class: "text-sm text-gray-600 hover:text-blue-600" %>
              <%= link_to "Restaurante", restaurant_path(current_user.restaurant.id), class: "text-sm text-gray-600 hover:text-blue-600" %>
              <%= link_to "Pedidos", restaurant_orders_path(current_user.restaurant.id), class: "text-sm text-gray-600 hover:text-blue-600" %>
            <% else %>
              <%= link_to "Cadastrar Restaurante", new_restaurant_path, class: "text-sm text-gray-600 hover:text-blue-600" %>
            <% end %>
            <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "text-sm text-red-600 hover:text-red-800" %>
          <% elsif employee_signed_in? %>
            <div class="hidden sm:flex items-center gap-2">
              <%= form_with url: search_path, method: :get, html: { class: "flex items-center gap-2" } do |f| %>
                <%= f.text_field :query, placeholder: "Buscar pratos ou bebidas...", class: "border rounded-lg px-4 py-2 text-sm w-64" %>
                <%= f.submit "Buscar", class: "bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-500" %>
              <% end %>
            </div>
            <%= button_to "Sair", destroy_employee_session_path, method: :delete, class: "text-sm text-red-600 hover:text-red-800" %>
          <% else %>
            <%= link_to 'Entrar como Usuário', new_user_session_path, class: "text-sm text-gray-600 hover:text-blue-600" %>
            <%= link_to 'Área Funcionários', new_employee_session_path, class: "text-sm text-gray-600 hover:text-blue-600" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="container mx-auto mt-28 px-5">
      <div class="mb-6">
        <% if notice %>
          <p class="bg-green-100 text-green-800 px-4 py-2 rounded-md mb-4"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="bg-red-100 text-red-800 px-4 py-2 rounded-md mb-4"><%= alert %></p>
        <% end %>
      </div>
      <div class="bg-white shadow-md rounded-lg p-6">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
