<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to root_path do %>
          <h1>PaLeva!</h1>
        <% end %>
        <% if user_signed_in? %>

          <%= form_with url: search_path, method: :get do |f| %>
            <%= f.label :query, 'Buscar Item' %>
            <%= f.text_field :query, placeholder: "Buscar pratos ou bebidas..." %>
            <%= f.submit "Buscar" %>
          <% end %>

          <% if !current_user.restaurant.nil? %>
            

            <%= link_to "Ver Restaurante",  restaurant_path(current_user.restaurant.id) %>
          <% else %>
            <%= link_to "Cadastrar Restaurante", new_restaurant_path %>
          <% end %>
          
          <%= button_to "Sair", destroy_user_session_path, method: :delete %>
          
        <% else %>
          <%= link_to 'Entrar', new_user_session_path  %> 

          <%= link_to 'Área Funcionários', new_employee_session_path  %> 

        <% end %>
        
      </nav>
      <main>
        <div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </main>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
